<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.pic.api.src.mapper.CustomerThirdBindMapper">
    <resultMap id="CustomerThirdBind" type="CustomerThirdBind">
        <id property="customerThirdBindId" column="customer_third_bind_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="secretType" column="secret_type"/>
        <result property="secretKey" column="secret_key"/>
        <result property="addTime" column="add_time"/>
        <!-- 自定义 -->

    </resultMap>

</mapper>